


.route-one-button {
    padding: 1rem;
    margin: 1rem;
    background-color: lightblue;
    border: 0.2rem solid blue;
    font-weight: 700;
}

.route-two-button {
    padding: 1rem;
    margin: 1rem;
    background-color: lightblue;
    border: 0.2rem solid blue;
    font-weight: 700;
}