


.hostbinding-highlighted {
    color: white;
    background-color: green;
}


.element-ref-highlight {
    background-color: yellow;
    color: red;
  }

.renderer-highlight {
    background-color: lightblue;
    color: black;
  }