<!-- <app-data-binding></app-data-binding> -->

<app-directives></app-directives>

<!-- <app-sharing-data-parent></app-sharing-data-parent> -->

<!-- <app-sharing-data-sibling-one></app-sharing-data-sibling-one>
<app-sharing-data-sibling-two></app-sharing-data-sibling-two> -->


<!-- <app-view-child></app-view-child> -->

<!-- <app-template-forms></app-template-forms> -->

<!-- <app-reactive-forms></app-reactive-forms>  -->



<!-- <div class="router-outlet-container">
    <router-outlet></router-outlet>
</div> -->



<!-- <app-built-in-pipes></app-built-in-pipes> -->


<!-- <app-observables></app-observables> -->